
<div class="search-container">
  <form class="" action="index.html" method="post">

    <select class="gallery" name="gallery">
      <option value="All Galleries" selected>All Galleries</option>
      <option value="Backwards">Backwards</option>
      <option value="Gertrude Contemporary">Gertrude Contemporary</option>
      <option value="Fort Delta">Fort Delta</option>
      <option value="Lon Gallery">Lon Gallery</option>
      <option value="Seventh">Seventh</option>
    </select>

    




  </form>
</div>
