
<div class="search-container">
  <form class="" action="index.html" method="post">

    <select class="gallery" name="gallery">
      <option value="All Galleries" selected>All Galleries</option>
      <option value="Backwards">Backwards</option>
      <option value="Gertrude Contemporary">Gertrude Contemporary</option>
      <option value="Fort Delta">Fort Delta</option>
      <option value="Lon Gallery">Lon Gallery</option>
      <option value="Seventh">Seventh</option>
    </select>

    <select class="region" name="region">
      <option value="cbd">Melbourne city and inner suburbs</option>
      <option value="northern">North Melbourne</option>
      <option value="south">South Melbourne</option>
      <option value="east">East Melbourne</option>
      <option value="west">West Melbourne</option>
    </select>

    <select class="minimum" name="minimum">
      <option value="min">-</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="400">400</option>
      <option value="600">600</option>
      <option value="800">800</option>
      <option value="1000">1000</option>
    </select>

    <select class="maximum" name="maximum">
      <option value="max">-</option>
      <option value="1000">1000</option>
      <option value="800">800</option>
      <option value="600">600</option>
      <option value="400">400</option>
      <option value="200">200</option>
      <option value="100">100</option>
      <option value="50">50</option>
    </select>

    <button type="submit" name="button">Search</button>

    <span>more options...</span>
  </form>
</div>
